@import url('https://fonts.googleapis.com/css?family=Federant');

/* MODULES */
h1, h2, p, h6 {
    font-family: 'Federant', fantasy;
}

div {
    margin-bottom: 10px;

}

header {
    text-align: center;
}

h1 {
    font-size: 40px;
    padding: 30px 0;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

p, h6 {
    font-size: 20px;
    margin: 15px;
}
select {
    margin-bottom: 30px;
    font-size: 18px;
}
