@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Federant');
/* BASE */
* {
    box-sizing: border-box;
}
html {
    background-color: rgb(196, 196, 177);
    height: 100%;
}

body {
    background: fixed;
    width: 1050px;
    height: 100%;
    margin: auto;
    padding-left: 25px;
}

/* LAYOUT */
div {
    float: left;
    width: 250px;
    height: 430px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(235, 235, 211);
}

footer {
    clear: left;
    text-align: center;
    padding-top: 30px;
}

/* MODULES */
h1, h2, p, h6 {
    font-family: 'Federant', fantasy;
}

header {
    text-align: center;
}

h1 {
    font-size: 40px;
    padding: 30px 0;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

p, h6 {
    font-size: 20px;
    margin: 5px;
}
select {
    margin-bottom: 30px;
    font-size: 18px;
}

option {
    font-size: 18px;
}

img {
    width: 200px;
}
